<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="View_Source" value="select a.name TableName,b.name ColumnName,c.name DataType from sys.objects a left join sys.columns b on a.object_id=b.object_id left join sys.types c on b.user_type_id=c.user_type_id where type='U'
" />
    <add key="View_Template" value="
CREATE VIEW {0}
AS
SELECT  
{1}
FROM {2} a"/>
  </appSettings>
</configuration>