<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--表结构-->
    <add key="Table_Source" value="
SELECT
	a.TABLE_NAME AS TableName,
	a.COLUMN_NAME AS ColumnName,
	a.DATA_TYPE AS DataType,
CASE
	WHEN a.DATA_TYPE = 'NUMBER' THEN
CASE
	WHEN a.Data_Precision IS NULL THEN
	a.Data_Length ELSE a.Data_Precision 
	END ELSE a.Data_Length 
	END AS Length,
	a.data_scale AS data_scale,
CASE
		WHEN a.NULLABLE = 'Y' THEN
		'NULL' ELSE 'NOT NULL' 
	END AS NULLABLE,
	a.DATA_DEFAULT 
FROM
	all_tab_columns a 
WHERE
	a.OWNER = 'SA'  
	AND ( SELECT count( * ) FROM all_views v WHERE v.OWNER = 'SA' AND v.VIEW_NAME = a.TABLE_NAME ) = 0 
ORDER BY
	a.TABLE_NAME,
a.COLUMN_ID" />
    <add key="Table_Template" value=         
         "
CREATE TABLE [{0}](
{1}
) ON [PRIMARY];
         "/>

    <!--主键-->
    <add key="PrimaryKey_Source" value="
SELECT
	t.index_name,
	t.table_name TableName,
	t.column_name,
	t.column_position,
	t.descend
FROM
	all_ind_columns t,
	all_indexes i 
WHERE
	t.index_name = i.index_name 
	AND i.OWNER = 'SA' 
	AND EXISTS (
SELECT
	1 
FROM
	all_constraints d 
WHERE
	d.OWNER = 'SA' 
	AND d.table_name = t.table_name 
	AND d.CONSTRAINT_TYPE != 'P' 
	AND i.index_name = d.constraint_name 
	) 
ORDER BY
	t.index_name,
	t.column_position
  " />
    <add key="PrimaryKey_Template" value=
         "
ALTER TABLE [dbo].[{0}] ADD PRIMARY KEY CLUSTERED 
(
{1}
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]       
        "/>

    <!--索引-->
    <add key="Index_Source"  value="
SELECT
	t.index_name,
	t.table_name TableName,
	t.column_name,
	t.column_position,
	t.descend,
	i.uniqueness 
FROM
	all_ind_columns t,
	all_indexes i 
WHERE
	t.index_name = i.index_name 
	AND i.OWNER = 'SA' 
	AND NOT EXISTS (
SELECT
	1 
FROM
	all_constraints d 
WHERE
	d.OWNER = 'SA' 
	AND d.table_name = t.table_name 
	AND d.CONSTRAINT_TYPE != 'P' 
	AND i.index_name = d.constraint_name 
	) 
ORDER BY
	t.index_name,
	t.column_position" />
    <add key="Index_Template" value=
         "
CREATE {0} NONCLUSTERED INDEX [{1}] ON [{2}]
(
{3}
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY];
         "/>
  </appSettings>
</configuration>